<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>92.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1003,396}</string>
                <key>spriteSourceSize</key>
                <string>{1003,396}</string>
                <key>textureRect</key>
                <string>{{0,952},{1003,396}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>93.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{977,68}</string>
                <key>spriteSourceSize</key>
                <string>{977,68}</string>
                <key>textureRect</key>
                <string>{{543,1796},{977,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>94.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{457,57}</string>
                <key>spriteSourceSize</key>
                <string>{457,57}</string>
                <key>textureRect</key>
                <string>{{943,1864},{457,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>95.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,70}</string>
                <key>spriteSourceSize</key>
                <string>{200,70}</string>
                <key>textureRect</key>
                <string>{{543,1864},{200,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>96.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,70}</string>
                <key>spriteSourceSize</key>
                <string>{200,70}</string>
                <key>textureRect</key>
                <string>{{743,1864},{200,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>97.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,95}</string>
                <key>spriteSourceSize</key>
                <string>{93,95}</string>
                <key>textureRect</key>
                <string>{{1296,0},{93,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>98.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,95}</string>
                <key>spriteSourceSize</key>
                <string>{93,95}</string>
                <key>textureRect</key>
                <string>{{1391,0},{93,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1296,952}</string>
                <key>spriteSourceSize</key>
                <string>{1298,952}</string>
                <key>textureRect</key>
                <string>{{0,0},{1296,952}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>close_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,147}</string>
                <key>spriteSourceSize</key>
                <string>{150,147}</string>
                <key>textureRect</key>
                <string>{{396,1796},{150,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>table.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1161,844}</string>
                <key>spriteSourceSize</key>
                <string>{1161,844}</string>
                <key>textureRect</key>
                <string>{{396,952},{1161,844}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>newsetting.png</string>
            <key>size</key>
            <string>{1557,1955}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0c1071831c75c5c7c8f8721992340e51:43a535aa7cda6c61e7c5b4c1ebeaa630:d20b4ae2499d332c180c1d7421f28127$</string>
            <key>textureFileName</key>
            <string>newsetting.png</string>
        </dict>
    </dict>
</plist>
