<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,139}</string>
                <key>spriteSourceSize</key>
                <string>{37,139}</string>
                <key>textureRect</key>
                <string>{{1269,2559},{37,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,139}</string>
                <key>spriteSourceSize</key>
                <string>{37,139}</string>
                <key>textureRect</key>
                <string>{{1269,2698},{37,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1307,1457}</string>
                <key>spriteSourceSize</key>
                <string>{1307,1457}</string>
                <key>textureRect</key>
                <string>{{0,0},{1307,1457}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,244}</string>
                <key>spriteSourceSize</key>
                <string>{266,244}</string>
                <key>textureRect</key>
                <string>{{1003,2559},{266,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>close_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,147}</string>
                <key>spriteSourceSize</key>
                <string>{150,147}</string>
                <key>textureRect</key>
                <string>{{553,2996},{150,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,70}</string>
                <key>spriteSourceSize</key>
                <string>{68,70}</string>
                <key>textureRect</key>
                <string>{{1105,2837},{68,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>header.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1003,396}</string>
                <key>spriteSourceSize</key>
                <string>{1003,396}</string>
                <key>textureRect</key>
                <string>{{0,2559},{1003,396}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,173}</string>
                <key>spriteSourceSize</key>
                <string>{184,173}</string>
                <key>textureRect</key>
                <string>{{369,2996},{184,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>luck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,184}</string>
                <key>spriteSourceSize</key>
                <string>{189,184}</string>
                <key>textureRect</key>
                <string>{{0,2955},{189,184}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scroll.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,932}</string>
                <key>spriteSourceSize</key>
                <string>{41,932}</string>
                <key>textureRect</key>
                <string>{{369,2955},{41,932}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,104}</string>
                <key>spriteSourceSize</key>
                <string>{102,104}</string>
                <key>textureRect</key>
                <string>{{1003,2837},{102,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>table.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1102,1288}</string>
                <key>spriteSourceSize</key>
                <string>{1102,1288}</string>
                <key>textureRect</key>
                <string>{{0,1457},{1102,1288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>time.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,185}</string>
                <key>spriteSourceSize</key>
                <string>{188,185}</string>
                <key>textureRect</key>
                <string>{{184,2955},{188,185}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>newupgrade.png</string>
            <key>size</key>
            <string>{1307,3169}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:83da633fe68c6d9826a0002c199ce3fe:a832067c3cd916e216eb0178b207223c:90132574d1b67e4056e20716356fb47d$</string>
            <key>textureFileName</key>
            <string>newupgrade.png</string>
        </dict>
    </dict>
</plist>
