<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>about.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,215}</string>
                <key>spriteSourceSize</key>
                <string>{214,215}</string>
                <key>textureRect</key>
                <string>{{0,0},{214,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,215}</string>
                <key>spriteSourceSize</key>
                <string>{214,215}</string>
                <key>textureRect</key>
                <string>{{0,215},{214,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>close_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,147}</string>
                <key>spriteSourceSize</key>
                <string>{150,147}</string>
                <key>textureRect</key>
                <string>{{860,645},{150,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faq.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,215}</string>
                <key>spriteSourceSize</key>
                <string>{214,215}</string>
                <key>textureRect</key>
                <string>{{214,0},{214,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leader.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,215}</string>
                <key>spriteSourceSize</key>
                <string>{214,215}</string>
                <key>textureRect</key>
                <string>{{0,430},{214,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,215}</string>
                <key>spriteSourceSize</key>
                <string>{214,215}</string>
                <key>textureRect</key>
                <string>{{0,645},{214,215}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>misic.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,215}</string>
                <key>spriteSourceSize</key>
                <string>{214,215}</string>
                <key>textureRect</key>
                <string>{{428,0},{214,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>music_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,215}</string>
                <key>spriteSourceSize</key>
                <string>{214,215}</string>
                <key>textureRect</key>
                <string>{{214,215},{214,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>next.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,215}</string>
                <key>spriteSourceSize</key>
                <string>{214,215}</string>
                <key>textureRect</key>
                <string>{{214,430},{214,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ok.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,215}</string>
                <key>spriteSourceSize</key>
                <string>{214,215}</string>
                <key>textureRect</key>
                <string>{{215,645},{214,215}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pause.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,215}</string>
                <key>spriteSourceSize</key>
                <string>{214,215}</string>
                <key>textureRect</key>
                <string>{{642,0},{214,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>play.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,215}</string>
                <key>spriteSourceSize</key>
                <string>{214,215}</string>
                <key>textureRect</key>
                <string>{{856,0},{214,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>prew.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,215}</string>
                <key>spriteSourceSize</key>
                <string>{214,215}</string>
                <key>textureRect</key>
                <string>{{428,215},{214,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>prize.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,215}</string>
                <key>spriteSourceSize</key>
                <string>{214,215}</string>
                <key>textureRect</key>
                <string>{{428,430},{214,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>restart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,215}</string>
                <key>spriteSourceSize</key>
                <string>{214,215}</string>
                <key>textureRect</key>
                <string>{{430,645},{214,215}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>settings.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,215}</string>
                <key>spriteSourceSize</key>
                <string>{214,215}</string>
                <key>textureRect</key>
                <string>{{642,215},{214,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,215}</string>
                <key>spriteSourceSize</key>
                <string>{214,215}</string>
                <key>textureRect</key>
                <string>{{856,215},{214,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sound.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,215}</string>
                <key>spriteSourceSize</key>
                <string>{214,215}</string>
                <key>textureRect</key>
                <string>{{642,430},{214,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sound_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,215}</string>
                <key>spriteSourceSize</key>
                <string>{214,215}</string>
                <key>textureRect</key>
                <string>{{856,430},{214,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>upgrade.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,215}</string>
                <key>spriteSourceSize</key>
                <string>{214,215}</string>
                <key>textureRect</key>
                <string>{{645,645},{214,215}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>newbtn.png</string>
            <key>size</key>
            <string>{1070,859}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9747276d590635d64a8d1cf645df366f:3c9c8e1bfac02118a59bb473bccf567f:3080c4917ac2414fc9bcf918b10e47e6$</string>
            <key>textureFileName</key>
            <string>newbtn.png</string>
        </dict>
    </dict>
</plist>
