<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,448}</string>
                <key>spriteSourceSize</key>
                <string>{308,448}</string>
                <key>textureRect</key>
                <string>{{1296,0},{308,448}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,448}</string>
                <key>spriteSourceSize</key>
                <string>{308,448}</string>
                <key>textureRect</key>
                <string>{{1296,448},{308,448}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,448}</string>
                <key>spriteSourceSize</key>
                <string>{308,448}</string>
                <key>textureRect</key>
                <string>{{1557,896},{308,448}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,448}</string>
                <key>spriteSourceSize</key>
                <string>{308,448}</string>
                <key>textureRect</key>
                <string>{{1557,1344},{308,448}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1296,952}</string>
                <key>spriteSourceSize</key>
                <string>{1298,952}</string>
                <key>textureRect</key>
                <string>{{0,0},{1296,952}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,107}</string>
                <key>spriteSourceSize</key>
                <string>{308,107}</string>
                <key>textureRect</key>
                <string>{{0,1796},{308,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>close_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,147}</string>
                <key>spriteSourceSize</key>
                <string>{150,147}</string>
                <key>textureRect</key>
                <string>{{1557,1792},{150,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>header.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1003,396}</string>
                <key>spriteSourceSize</key>
                <string>{1003,396}</string>
                <key>textureRect</key>
                <string>{{1161,952},{1003,396}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ico1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,249}</string>
                <key>spriteSourceSize</key>
                <string>{114,249}</string>
                <key>textureRect</key>
                <string>{{1604,223},{114,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,223}</string>
                <key>spriteSourceSize</key>
                <string>{223,223}</string>
                <key>textureRect</key>
                <string>{{1604,0},{223,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>table.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1161,844}</string>
                <key>spriteSourceSize</key>
                <string>{1161,844}</string>
                <key>textureRect</key>
                <string>{{0,952},{1161,844}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>newshop.png</string>
            <key>size</key>
            <string>{1865,1955}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:66fbe5673c0e0f937db9862e7e887151:c84a2f91911e7466362c685c167d49ca:8b6b8ba06552c05cb4a94cb66ec00eee$</string>
            <key>textureFileName</key>
            <string>newshop.png</string>
        </dict>
    </dict>
</plist>
