<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{948,881}</string>
                <key>spriteSourceSize</key>
                <string>{948,881}</string>
                <key>textureRect</key>
                <string>{{0,0},{948,881}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>header.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1003,396}</string>
                <key>spriteSourceSize</key>
                <string>{1003,396}</string>
                <key>textureRect</key>
                <string>{{0,881},{1003,396}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>table.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{824,554}</string>
                <key>spriteSourceSize</key>
                <string>{824,554}</string>
                <key>textureRect</key>
                <string>{{396,881},{824,554}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{628,227}</string>
                <key>spriteSourceSize</key>
                <string>{628,227}</string>
                <key>textureRect</key>
                <string>{{396,1705},{628,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pause.png</string>
            <key>size</key>
            <string>{1024,1932}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:65c6373961324c20a7f69e64741761fb:9f829c2557153d5a6e84858142d9f54f:9d555fb46495a0909062f51d92a17153$</string>
            <key>textureFileName</key>
            <string>pause.png</string>
        </dict>
    </dict>
</plist>
