<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{964,1295}</string>
                <key>spriteSourceSize</key>
                <string>{964,1295}</string>
                <key>textureRect</key>
                <string>{{0,396},{964,1295}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>header.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1003,396}</string>
                <key>spriteSourceSize</key>
                <string>{1003,396}</string>
                <key>textureRect</key>
                <string>{{0,0},{1003,396}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{635,325}</string>
                <key>spriteSourceSize</key>
                <string>{635,325}</string>
                <key>textureRect</key>
                <string>{{0,2511},{635,325}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>star_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{635,325}</string>
                <key>spriteSourceSize</key>
                <string>{635,325}</string>
                <key>textureRect</key>
                <string>{{0,3146},{635,325}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{635,325}</string>
                <key>spriteSourceSize</key>
                <string>{635,325}</string>
                <key>textureRect</key>
                <string>{{325,2511},{635,325}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>star_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{635,325}</string>
                <key>spriteSourceSize</key>
                <string>{635,325}</string>
                <key>textureRect</key>
                <string>{{650,2511},{635,325}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>table.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{820,949}</string>
                <key>spriteSourceSize</key>
                <string>{820,949}</string>
                <key>textureRect</key>
                <string>{{0,1691},{820,949}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>win.png</string>
            <key>size</key>
            <string>{1003,3471}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e31b8d8398b8f3aeccb4ea010f6511aa:1dc1711c2f95f7f5fd9683986a6193ef:993de4640215443c81192ae65fad77b6$</string>
            <key>textureFileName</key>
            <string>win.png</string>
        </dict>
    </dict>
</plist>
