<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>goblin1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,176}</string>
                <key>spriteSourceSize</key>
                <string>{177,176}</string>
                <key>textureRect</key>
                <string>{{0,0},{177,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goblin10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,176}</string>
                <key>spriteSourceSize</key>
                <string>{177,176}</string>
                <key>textureRect</key>
                <string>{{708,176},{177,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goblin15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,176}</string>
                <key>spriteSourceSize</key>
                <string>{177,176}</string>
                <key>textureRect</key>
                <string>{{0,352},{177,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goblin16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,176}</string>
                <key>spriteSourceSize</key>
                <string>{177,176}</string>
                <key>textureRect</key>
                <string>{{177,352},{177,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goblin17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,176}</string>
                <key>spriteSourceSize</key>
                <string>{177,176}</string>
                <key>textureRect</key>
                <string>{{354,352},{177,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goblin18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,176}</string>
                <key>spriteSourceSize</key>
                <string>{177,176}</string>
                <key>textureRect</key>
                <string>{{531,352},{177,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goblin19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,176}</string>
                <key>spriteSourceSize</key>
                <string>{177,176}</string>
                <key>textureRect</key>
                <string>{{708,352},{177,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goblin2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,176}</string>
                <key>spriteSourceSize</key>
                <string>{177,176}</string>
                <key>textureRect</key>
                <string>{{177,0},{177,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goblin20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,176}</string>
                <key>spriteSourceSize</key>
                <string>{177,176}</string>
                <key>textureRect</key>
                <string>{{0,528},{177,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goblin21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,176}</string>
                <key>spriteSourceSize</key>
                <string>{177,176}</string>
                <key>textureRect</key>
                <string>{{177,528},{177,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goblin22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,176}</string>
                <key>spriteSourceSize</key>
                <string>{177,176}</string>
                <key>textureRect</key>
                <string>{{354,528},{177,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goblin23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,176}</string>
                <key>spriteSourceSize</key>
                <string>{177,176}</string>
                <key>textureRect</key>
                <string>{{531,528},{177,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goblin24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,176}</string>
                <key>spriteSourceSize</key>
                <string>{177,176}</string>
                <key>textureRect</key>
                <string>{{708,528},{177,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goblin25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,176}</string>
                <key>spriteSourceSize</key>
                <string>{177,176}</string>
                <key>textureRect</key>
                <string>{{0,704},{177,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goblin26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,176}</string>
                <key>spriteSourceSize</key>
                <string>{177,176}</string>
                <key>textureRect</key>
                <string>{{177,704},{177,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goblin27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,176}</string>
                <key>spriteSourceSize</key>
                <string>{177,176}</string>
                <key>textureRect</key>
                <string>{{354,704},{177,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goblin28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,176}</string>
                <key>spriteSourceSize</key>
                <string>{177,176}</string>
                <key>textureRect</key>
                <string>{{531,704},{177,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goblin3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,176}</string>
                <key>spriteSourceSize</key>
                <string>{177,176}</string>
                <key>textureRect</key>
                <string>{{354,0},{177,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goblin4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,176}</string>
                <key>spriteSourceSize</key>
                <string>{177,176}</string>
                <key>textureRect</key>
                <string>{{531,0},{177,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goblin5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,176}</string>
                <key>spriteSourceSize</key>
                <string>{177,176}</string>
                <key>textureRect</key>
                <string>{{708,0},{177,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goblin6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,176}</string>
                <key>spriteSourceSize</key>
                <string>{177,176}</string>
                <key>textureRect</key>
                <string>{{0,176},{177,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goblin7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,176}</string>
                <key>spriteSourceSize</key>
                <string>{177,176}</string>
                <key>textureRect</key>
                <string>{{177,176},{177,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goblin8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,176}</string>
                <key>spriteSourceSize</key>
                <string>{177,176}</string>
                <key>textureRect</key>
                <string>{{354,176},{177,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goblin9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,176}</string>
                <key>spriteSourceSize</key>
                <string>{177,176}</string>
                <key>textureRect</key>
                <string>{{531,176},{177,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>goblin.png</string>
            <key>size</key>
            <string>{885,880}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:92508a241e0da57c57e717b9ab6ab4cc:0751f205e366072d3bd86375a57c88fe:c5a8930ba4195bf316a78b77653f1c20$</string>
            <key>textureFileName</key>
            <string>goblin.png</string>
        </dict>
    </dict>
</plist>
